
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: grey;
}

h1 {
    position: absolute;
    top: 2rem;
    width: 100vw;
    text-align: center;
    font-size: 4rem;
}

section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

button {
    padding: 1rem 4rem;
    border: 0;
    border-radius: 5rem;
    box-shadow: 2.5px 2.5px 2.5px pink;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

button:active {
    box-shadow: 0px 0px 0px pink;
}

.hidden {
    display: none;
}


