
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(199, 169, 86);
    font-family: Patrick Hand SC;
    font-size: 2rem;
}


ul {
    list-style-type: none;
    text-align: center;
}

#HomeBtn {
    position: absolute;
    top: 2rem;
    width: 100vw;
    text-align: center;
    font-size: 4rem;
    font-family: Rock Salt;
    background-color: rgb(199, 169, 86);
    box-shadow: none;
}
@media (max-width: 800px) {
    #HomeBtn {
        font-size: 3rem;
    }
}
@media (max-width: 550px) {
    #HomeBtn {
        font-size: 2rem;
    }
}

h2 {
    margin-top: 1.5rem;
    font-family: Rock Salt;
    font-size: 3rem;
}

section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

button {
    padding: 1rem 4rem;
    border: 0;
    border-radius: 2.5rem;
    box-shadow: 0.25rem 0.25rem 0.25rem darkgoldenrod;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    font-family: Patrick Hand SC;
    font-size: 2rem;
    background-color: rgb(250, 244, 215);
}

button:hover {
    background-color: rgb(223, 149, 11);
    color: rgb(255, 255, 255);
}

button:active {
    transform: translate(0.25rem, 0.25rem);
    box-shadow: 0rem 0rem 0rem darkgoldenrod;
}

.GameBtns {
    height: 15rem;
    width: 15rem;
    border-radius: 10rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

#RockBtn {
    margin-top: 10rem;
    cursor: url('RockCursor.png'), auto;
}

#PaperBtn {
    cursor: url('PaperCursor.png'), auto;
}

#ScissorsBtn {
    cursor: url('ScissorsCursor.png'), auto;
}

.patrick-hand sc-regular {
    font-family: "Patrick Hand SC", cursive;
    font-weight: 400;
    font-style: normal;
}  

.rock-salt-regular {
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
}
  
.hidden {
    display: none;
}

#CountdownText {
    font-size: 15rem;
    color: darkgoldenrod;
}

.RuleHeader {
    margin-bottom: -1rem;
}

li {
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
}

#RoundText {
    font-size: 5rem;
}

.flex {
    display: flex;
}

#Scores {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

#PlayerScoreText {
    font-size: 4rem;
    text-align: center;
}

#ComputerScoreText {
    font-size: 4rem;
    text-align: center;
}

#Choices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Outcome {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}